# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

some popular languages that Data Scientists use are:
1. R
2. Julia
3. Python
4. SQL
5. Scala

Some of the most commonly used libraries used by Data Scientist include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. ScikitLearn

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|Google Colab      |
|R Studio          |

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is sample arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

# **Objectives**

* Languages for Data Science
* Tools for Data Science
* Libraries for Data Science
* Tables in Markdown
* Ordered and Unordered lists in Markdown

## Author
Noor Ul Ain Khalid